@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-color: #f8ddf1;
    display: flex;
     flex-direction: column;
    justify-content: center;
    
    align-items: center;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
}

img {
    max-width: 100%;
}

.product {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.24);
    border-radius: 15px 0 0 15px;
    max-width: 650px;
    margin: 0 2em;
    width: 100%;
}

.product-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: hsl(30, 38%, 92%);
    border-radius: 15px 0 0 15px;
}

.product__image {
    line-height: 0%;
    border-radius: 15px 0 0 15px;
}

.product__image img {
    max-width: 290px;
    border-radius: 15px 0 0 15px;
}

.product__mobile-image {
    display: none;
}

.product__text-content {
    display: flex;
    flex-direction: column;
    padding: 0 2em 0 0;
    /* margin: 5% 4%; */
    margin:2rem 4%;
}

.product__light-text {
    font-size: 0.8rem;
    font-weight: 700;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: rgb(119, 107, 107);
    margin-bottom: 3%;
    padding: 4% 0 4% 0;

}

.product__title {
    font-size: 1.6rem;
    font-family: 'Fraunces', sans-serif;
    font-weight: 700;
    color: hsl(212, 21%, 14%);
    padding: 0 0.8rem 1rem 0;
    max-width: 80%;
    letter-spacing: 0.1rem;
}

.product__description {
    width: 100%;
    line-height: 1.5;
    color: rgb(119, 107, 107);
    font-size: 0.9rem;
    font-weight: 400;
    padding: 0 0 1rem 0;
}

.product__prices {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.product__main-price {
    font-size: 1.8rem;
    color: #3D8168;
    margin-right: 1rem;
    font-family: 'Fraunces', sans-serif;
}

.product__old-price {
    color: hsl(228, 12%, 48%);
    text-decoration: line-through;

}

.btn {
    margin-top: 5%;
    padding: 0.9em 2em;
    color: white;
    text-decoration: none;
    background-color: #3D8168;
    border-radius: 100px;
    text-align: center;
    font-weight: 700;
}

.btn img {
    line-height: 0%;
    margin-right: 2%;
}


.btn:hover {
    background-color: #0e4934;
}

@media (max-width:400px) {
    body{
        margin:0 auto;
    }
    .product {
        border-radius: 15px 15px 0 0;
    }

    .product-content {
        flex-direction: column;
        border-radius: 15px 15px 0 0;
    }

    .product__text-content {
        padding: 0px;
    }

    .product__image img {
        max-width: 100%;
        border-radius: 15px 15px 0 0;
    }

    .product__desktop-image {
        display: none;
    }

    .product__mobile-image {
        display: block;
    }

    .product__title {
        max-width: 100%;
        padding-right: 0px;
    }
}
